body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.alphacoders.com/107/107763.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    color: white;
    text-align: center;
}


@keyframes border {
    0% {border-style: solid; border-color:#000000; border-bottom: 1px; border-right: 1px;}
    25%{border-color:#3d0000; border-bottom: 2px; border-right: 2px;}
    50%{border-color:#590000; border-bottom: 3px; border-right: 3px;}
    75%{border-color:#610000; border-bottom: 4px; border-right: 4px;}
    100%{border-color:#8b0000; border-bottom: 5px; border-right: 5px;}
}

form {
    background-color: #383838;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
    border-bottom: 5px;
    border-right: 5px;
    border-style: hidden;
}

form:hover{
    border-style: solid;
    border-bottom: 5px;
    border-right: 5px;
    border-color: #8b0000;
    animation-name: border;
    animation-duration: 1s;
}

input, textarea {
    display: block;
    width: 400px;
    margin-bottom: 10px;
    background-color: #262626;
    border-color: #1e1e1e;
    color: #fff;
}
 
button {
    background-color: #8b0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #4a0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}